# SPDX-License-Identifier: LGPL-2.1-or-later
# SPDX-FileNotice: Part of the Mesh Remodel addon.
# SPDX-FileNotice: https://EditorConfig.org


root = true


[*.{toml,xml,py,md}]
insert_final_newline = false
indent_style = space
end_of_line = lf
indent_size = 4
charset = utf-8

[*.{toml,xml,py}]
trim_trailing_whitespace = true

[*.{md}]
trim_trailing_whitespace = false